.piccontainer
{
    background: url("./image/image.jpg");
    height: 100vh;
    width: auto;
    background-size:cover ;
  
}
/* @media screen and (min-width: 720px) {
    .piccontainer
    {

    }
  } */